<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    <article class="wrapper">
        <a href="/newblog">New post</a>
        <% for(var i = 0; i < result.length; i++){%>
            <div class="blog-section">
                <a href="/posts/<%- result[i].ID%>"><h2><%- result[i].Title %></h2></a>
                <p><%- result[i].Body %></p>
                <p><%- result[i].Date %></p>
                <form action="/posts/<%- result[i].ID %>?_method=DELETE" method="POST" onsubmit="return confirm('Do you really want to submit the form?')">
                    <button type="submit">DELETE</button>
                </form>
            </div>
        <%}%>
    </article>
</body>
</html>